[Unit]
Description=Check Pauvi repository every 30 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Persistent=true
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
