[Unit]
Description=Pauvi blue-green deployment
After=network-online.target docker.service apache2.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/pauvi-deploy
